# Project dependencies for QuantstatsWebApp
flask==3.0.3
vnstock==3.2.6
quantstats==0.0.69
pandas==2.2.2
numpy==1.26.4
bootstrap-flask==2.3.3
tenacity==8.2.3
pytest==8.1.1
ipython==8.24.0
gunicorn
python-dotenv==1.1.1
dotenv==0.9.9